<a href="https://colab.research.google.com/github/AlSajid/AI_Lab/blob/main/week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
grade = 85
if grade >=  60:
  print("passed")

passed

In [2]:
grade = 85
if grade >= 60:
  print("passed")
else:
  print("fail")

passed

In [3]:
result = ('Passed' if grade >= 60 else 'Failed')
print(result)

Passed

In [4]:
grade = 77

if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

C

In [5]:
number = 1

while (number < 10):
  print(number, end= " ")
  number += 1

1 2 3 4 5 6 7 8 9

In [6]:
product = 3

while product <= 50:
  product = product*3
  print(product)

9
27
81

In [7]:
for character in "programming":
  print(character, end = " ")

p r o g r a m m i n g

In [8]:
total = 0

for number in range (1000001):
  total = total + number
print(total)

500000500000

In [9]:
for number in range (5, 10):
  print(number, end= " ")

5 6 7 8 9

In [10]:
for number in range (0, 10, 2):
  print(number, end = " ")

0 2 4 6 8

In [11]:
for number in range (10, 0, -2):
  print(number, end=" ")

10 8 6 4 2

In [12]:
number = int (input())

5

In [13]:
for i in range (1, 11):
  print(number, "x", i, "=", number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [17]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

In [18]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

In [24]:
# Extremely Basic

a = input()
b = input()

X = int(a) + int(b)

print ("X =", X)

10
9
X =  19

In [44]:
# Area of a Circle
import math
r = float(input())

a = math.pi * (pow(r,2))

print("A=%.4f"% a)

2
A=12.5664

In [48]:
# Difference
a= int(input())
b= int(input())
c= int(input())
d= int(input())

difference=((a * b) - (c * d))

print("DIFERENCA = %d" %difference)

5
6
7
8
DIFERENCA = -26

In [49]:
n = int(input())

a = n // 365
n = n - a*365

m = n // 30
n = n - m*30

d = n

print('{} ano(s)'.format(a))
print('{} mes(es)'.format(m))
print('{} dia(s)'.format(d))

400
1 ano(s)
1 mes(es)
5 dia(s)